@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Plex', sans-serif;
}
body {
    background: linear-gradient(to bottom, #283277, #ffffff);

}
input {
    -webkit-user-select: text;  /* Для браузеров на базе WebKit (Chrome, Safari) */
    -moz-user-select: text;     /* Для Firefox */
    -ms-user-select: text;      /* Для Internet Explorer и Edge */
    user-select: text;          /* Современный стандарт подумать над этим*/
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400  ;
}
h2 {
    font-weight: 200;
}
a {
    text-decoration: none;

}
img {
    max-width: 100%  ;
}
header nav {
    float: revert ;
    /*width: 50%;*/
}
header nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a:hover {
      border-bottom: 5px   solid #FBD784;
}
header nav ul li.active {
    content: '';
    display:   block;
    width: 40px;
    height: 5px;
    background: #FBD784;
    border-radius: 10px;

}
.button {
    background:  #FBD784;
    color: #fff;
    border-radius:  50px;
    padding: 15px 30px  ;
    border:  0;
    transition:  all 500ms ease;
}
.button:hover {
    cursor: pointer;
    transform:  scale(1.1);
}

.navbar { /* Ширина вашего sidebar */
    width: 100%;
    position: sticky;
    top: 0;
    height: 5vh;
    background-color:white;/* Цвет фона вашей навигационной панели */
    color: black; /* Цвет текста */
    /*padding: 10px 0;*/
    z-index: 1000;
    /*text-align: center; !* Центрирование текста *!*/
    /* Цвет фона вашего sidebar */
}

.navbar nav {
    padding: 10px 10%;
}
.navbar #Busket {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.0rem;
    /* или любой другой размер, который вам нужен */
}
.Number .bi {
    color: black;
    top: 55%;
    right: 70.5%;
    transform: translateY(-50%);
    width: 24px;
    height: 12px;
}
.line {
    position: sticky;
    top: 5vh; /* Высота вашего навигационного меню */
    width: 100%;
    height: 1px;
    background-color: #283277;
    z-index: 999;
}


@media (max-aspect-ratio: 4/3) {
    .navbar nav ul {
        display: flex; /* Используем flexbox для выравнивания */
        align-items: center; /* Центрируем элементы по вертикали */
        justify-content: center; /* Центрируем элементы по горизонтали */
        gap: 10px;
        height: 100%; /* Делаем высоту списка равной высоте navbar */
    }
    .navbar nav {
        padding: 20px;
    }

    .navbar {
        height: 6vh; /* Высота навигации */
        display: flex; /* Flex для выравнивания содержимого */
        align-items: center; /* Центрирование содержимого по вертикали */
        justify-content: center; /* Центрирование содержимого по горизонтали */
    }
    .navbar .bi {
        color: black;
        width: 24px;
        height: 12px;
    }

    .navbar nav ul li {
        font-size: 1.3rem; /* Увеличенный размер текста */
        padding: 10px 15px; /* Увеличенный размер кнопок */
    }
    .navbar #Busket {
        position: relative; /* Переопределяем позиционирование */
        top: 0;
        transform: none; /* Отключаем смещение */
        font-size: 2.0rem; /* Изменяем размер иконки */
        /* Другие стили для мобильной версии */
    }


    .navbar {
        height: 6vh; /* Увеличиваем высоту навигации на телефонах */
    }
}


.topBar {
    box-sizing: border-box;
    position: relative;
    /*width: 1512px;*/
    height: 11vh;
    left: 0;
    top: 0;
    background: #283277;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.topBar .logo {
    position: absolute; /* Позиционирование элемента абсолютно */
    top: 50%; /* Сдвигаем логотип на 50% от верхнего края родительского элемента */
    left: 12%; /* Отступ слева */
    transform: translateY(-50%); /* Корректируем положение логотипа по вертикали */
    width: 20%; /* Ширина логотипа */
    height:80%; /* Высота логотипа */
    background-image: url("../img/Logo.png"); /* Путь к изображению логотипа */
    background-size: contain; /* Размер изображения */
    background-repeat: no-repeat; /* Не повторять изображение */
    display: block; /* Блочный элемент */
}
@media (max-aspect-ratio: 4/3) {
    .topBar {
        height: 7.8vh;
    }
}
.topBar .Number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    color: white;

}
.topBar .whatsapp {
    color: white; /* Задает белый цвет для нормального и посещенного состояния */
    text-decoration: none
}
.topBar span {
    height:auto;
    width: auto;
    background-image: url("../img/Logo.png");
    z-index: 20000;
}

.swiper {
    margin-bottom: -150px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vh;
}

.swiper-slide {
    position: relative;
    font-size: 18px;
    background-size: cover;
    background-position: center;
    text-align: left; /* Заголовок слева */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Заголовок будет ближе к верхней части */
    color: white;
    /*padding: 50px 20px; !* Добавляем отступы для заголовка *!*/
}

.swiper-slide img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Затемненное наложение */
    z-index: 2;
}



.carousel-text {
    position: absolute;
    z-index: 3;
    width: 70%;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    text-align: center; /* Текст по центру */
}

.lineBetween {
    display: block;
    width: 200px;
    height: 3px;
    background-color: #FBD784;
    margin: 20px auto; /* Центрируем по горизонтали и добавляем отступы */
}


.sub-title {
    font-family: 'Playfair Display', serif; /* Новый элегантный шрифт */
    /*font-size: 60px; 60*/
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff;
    display: flex;  /* Включаем flexbox для выравнивания */
    justify-content: center;  /* Горизонтальное выравнивание */
    align-items: center;  /* Вертикальное выравнивание */
    height: 100%;  /* Высота блока, чтобы текст был по центру */
    text-align: center;  /* Текст по центру */
}


/* Изменяем стиль основного текста */
.description {
    font-family: 'Roboto', sans-serif; /* Новый шрифт для текста */
    font-size: 30px;
    margin: 30px auto;
    text-align: justify;
    color: #f0f0f0;
    line-height: 1.6;
    word-spacing: -2px;
    max-width: 600px; /* Ограничиваем ширину текста */
}

/* Оформляем список */
.description ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.description ul li {
    word-spacing: -2px;
}

@media (max-aspect-ratio: 4/3) {
    .description {
        word-break: break-word; /* Автоматический перенос длинных слов */
        hyphens: auto;
        word-break: break-word;
        font-size: clamp(40px, 4vw, 90px);
    }

    .description ul {
        word-break: break-word; /* Автоматический перенос длинных слов */
        hyphens: auto;
        word-break: break-word;
        font-size: clamp(40px, 3vw, 90px);
    }

}
/*MAIN*/
.main {
    margin-right: 10%;
    margin-left: 10%;
}
/*CONTAINER*/

.content {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content:nth-child(even) {
    flex-direction: row-reverse;
}

.content-img img{
    width: 400px;
    height: 600px;
    /*min-height: 10vh;*/
    /*max-height: 500px; !* Ограничиваем высоту изображений *!*/
    /*width: 200px; !* Оставляем ширину адаптивной *!*/
}
.content-text {
    position: relative;
    padding-left: 100px;
    padding-right: 30px;
    max-width: 782px;
}

@media (max-aspect-ratio: 4/3) {
    .content-text {
        max-width: 40vw;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.content-subtitle {
    position: relative;
    font-weight: 800;
    padding-left: 96px;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.content-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}
.content-title {
    margin-bottom: 27px;
    max-width: 555px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: black;
}
.content-text p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: black;
}
.content-application {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FBD784;
}
.content-application::after {
    width: 24px;
    height: 16px;
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/icons/arrow_right.png");
}


@media (max-aspect-ratio: 4/3) {
    .content-application {
        font-size: 30px;
    }
}
.content-text::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: rgba(0,0,0, 0.1);

}
.brands ul {
    margin-top: 27px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    justify-content: center; /* Горизонтальное выравнивание: отцентровка */
    align-items: center;
}

.brands li {
    margin: 20px; /* Увеличиваем отступы между иконками */
}

.brands img {
    height: 150px;
    width: 250px;
}

.brands {
    margin-top: 200px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.2;
    color: black;
}

.map {
    position: relative;
    margin-top: 20px;
    width: 90%;
    height: 50vh;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 20px;
}

.Footer {
    margin-top: 200px;
    position: relative;
    height: auto;
    bottom: 0;
    width: 100%;
    background: #283277;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.contact-list i {
    margin-right: 10px;
    color: #f0db4f;
}
.contact-list li {
    font-size: clamp(15px, 1.5vw, 40px);
    margin: 10px 0;
}
.footer-container h2 {
    font-size: clamp(18px, 3vw, 56px);
    margin-bottom: 20px;
    color: white;
}
@media  (max-aspect-ratio: 4/3) {
    .footer-container h2 {
        font-size: clamp(28px, 4vw, 56px);
    }
    .contact-list li {
        font-size: clamp(28px, 2vw, 40px);
    }

}

/*.Footer {*/
/*    margin-top: 200px;*/
/*    position: relative;*/
/*    height: 10vh;*/
/*    bottom:0;*/
/*    width:100%;*/
/*    background: #283277;*/
/*}*/
.mainBlogBid {
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/TNVD.jpeg");
}
.FooterBid {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh; /* Высота футера может быть фиксированной */
        background-color: #283277; /* Пример цвета фона футера */
}


.SendForm, .Successfulnesses {
    top: 50%;
    left: 50%;
    min-width: 750px;
    transform: translate(-50%, -50%);
    position: absolute; /* Если форма должна быть по центру страницы, используйте absolute вместе с fixed. */
    background: #FBD784;
    height: auto; /* Если вы хотите, чтобы высота подстраивалась под содержимое, используйте auto */
    width: 40%;
    border-radius: 50px;
    padding: 40px; /* Добавлен отступ внутри формы */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Добавлено тень для лучшего визуального разделения формы от фона */
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание элементов формы по центру */
}
.SendForm div, .Successfulnesses  div {
    padding: 10px;
    margin: auto;
    height: 10%;
    font-size: 5vh;
    color: #283277;
}
#motorNumber::-webkit-outer-spin-button,
#motorNumber::-webkit-inner-spin-button,
#PhoneNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#motorNumber #PhoneNumber {
    -moz-appearance: textfield;
}
.SendForm input[type=number],
.SendForm input[type=email],
.SendForm input[type=text] {
    width: 90%; /* Ширина инпутов соответствует ширине формы с учётом padding */
    padding: 10px; /* Добавлен отступ внутри инпутов */
    margin-bottom: 20px; /* Добавлен отступ между инпутами */
    border: 1px solid #ccc; /* Граница вокруг инпутов */
    border-radius: 5px; /* Скругление углов инпутов */
}

.SendForm #Problem {
    height: 10vh;
    resize: vertical; /* Позволяет пользователю изменять размер поля только вертикально */
}


.SendForm textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Убедитесь, что высота достаточна, чтобы пользователь видел, что это многострочное поле */
    height: 100px;
}

.SendForm button[type=submit] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #2A2A2A; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Удаление стандартной границы кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    transition: background-color 0.3s ease; /* Анимация при наведении */
}

.SendForm button[type=submit]:hover {
    background-color: #404040; /* Цвет фона кнопки при наведении */
}

.SendForm .error {
    color: red; /* Цвет текста сообщения об ошибке */
    font-size: 0.8rem;
    width: 90%; /* Ширина чтобы соответствовать полям ввода */
    margin-top: -10px; /* Отрицательный отступ сверху для приближения к полю ввода */
    margin-bottom: 20px; /* Отступ снизу для разграничение от следующего поля ввода */
    text-align: left;
    z-index: 100000;
}
@media (max-aspect-ratio: 4/3) {
    .SendForm input {
        height: 2vh;
        font-size: clamp(20px, 1.5vw, 48px);
    }
    textarea, button {
        font-size: clamp(20px, 1.5vw, 48px);
    }
}

/*CATALOG*/

.main-catalog {
    height: 70vh;
    margin-top: 5vh;
    margin-right: 10%;
    margin-left: 10%;
}
.Catalog_name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 60px;
}
.catalog {
    min-width: 550px;
    min-height: 55vh;
    margin-top: -200px;
    left: 40%;
    position: relative;
    height: 100%;
    width: 60%;
}
.catalog-nav {
    width: 87%;
    height: 40px;
    min-height: 2vh;
    background-color: #FBD784;
    border-radius: 5px;
}
.catalog-nav ul {
    height: 100%;
    width: 100%;
    padding: 5px;
    padding-right: 15px;
    list-style-type: none;
    display: flex; /* Активируем Flexbox */
    flex-direction: row; /* Элементы в ряд */
    justify-content: flex-start;
}
.catalog-nav-ul .item:first-child {
    width: 35%;
    margin-right: 5%;
}
.catalog-nav-ul .item {
    width: 12%;
    margin-right: 5%; /* Добавляем небольшой отступ справа от каждого элемента */
}

.catalog-nav-ul .item:last-child {
    width: 15%;
}
#itemsList {
    min-height: 30vh;
    height: auto;
    margin-top: 1vh;
    left:0;
    list-style-type: none;
    padding: 0;
}
#itemsList li {
    /*font-size: 1em;*/
    background: white;
    margin-top: 10px;
    padding: 5px;
    height: 5vh;
    display: flex; /* Активируем Flexbox */
    flex-direction: row; /* Элементы в ряд */
    justify-content: flex-start;
}
#itemsList .item:first-child {
    width: 45%;
    margin-right: 5%;
}
#itemsList .item:last-child {
    width: 5%;
    margin-right: 5%;
}
#itemsList .item {
    font-size: 16px;
    width: 15%;
    margin-right: 5%; /* Добавляем небольшой отступ справа от каждого элемента */
}
#itemsList .item:last-child {
    margin-right: 0; /* Удаляем отступ справа у последнего элемента */
}
.search-container {
    margin-top: 15px;
    margin-left: 3px;
    width: 150px;
    height: 30px;
    min-height: 2vh;
    font-size: 24px;
    /*min-width: 10vw;*/
    background-color: #FBD784;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#searchInput {
    width: 90%;
    border: none; /* Убираем границу поля ввода */
    outline: none;
    padding: 2px;/* Убираем контур при фокусе */
    background-color: #FBD784;
}
.filter-container {
    margin-top: 20px;
    min-width: 200px;
    min-height: 10vh;
    width: 12%;
    background-color: #FBD784;
    border-radius: 5px;
}
.filter-container h2 {
    padding-left: 5px;
}
#filterForm {
    width: 90%;
    height: 100%;
    padding: 5px;
}
.filter-container .price {
    margin: 10px auto 0;
}
.filter-container  input{
    width: 50px;
    min-height: 2vh;
    min-width: 40%;
    border: none; /* Убираем границу поля ввода */
    outline: none;
    padding: 2px;/* Убираем контур при фокусе */
    background-color: white;
    border-radius: 2px;
}
.filter-container button {
    margin: 10px auto 0;
    width: 48%; /* Чтобы кнопки занимали по половине ширины */
    height: 40px; /* Сделаем кнопки повыше */
    font-size: 16px; /* Увеличим размер шрифта для удобства */
    border: none;
    border-radius: 5px;
}
#brand {
    min-height: 2vh;
}
.filter-container .buttons-group {
    display: flex;
    justify-content: space-between; /* Кнопки будут на одной линии */
    margin-top: 10px;
}

.add-to-cart-btn {
    width: 20%;
    border: none;
    font-family: 'Lato';
    color: inherit;
    background: none;
    cursor: pointer;
    /*padding: 25px 80px;*/
    display: inline-block;
    /*margin: 15px 30px;*/
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.add-to-cart-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.add-to-cart-btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.add-to-cart-btn:before {
    background: rgba(0,0,0,0.15);
}
.add-to-cart-btn {
    background: #FBD784;
    color: #000;
}

.add-to-cart-btn:hover {
    background: #FBD784;
}

.add-to-cart-btn:active {
    background: #FBD784;
    top: 2px;
}

.add-to-cart-btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 30px;
}

/*PAGINATION*/
.pagination {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;/* Выравнивание элементов по вертикали */ /* Горизонтальное центрирование содержимого */
    /*padding: 10px; !* Внутренний отступ для блока пагинации *!*/
}

.pagination #currentPage {
    margin: 0 20px; /* Добавляет горизонтальный отступ между номером страницы и кнопками */
    background-color: #FBD784; /* Цвет фона для элемента с текущей страницей */
    padding: 0 10px; /* Внутренний отступ */
    border-radius: 5px; /* Скругление углов */
    font-weight: bold;
    font-size: clamp(16px, 2.0vw, 48px);
}

@media (max-aspect-ratio: 4/3)  {
    .pagination #currentPage {
        height: 2vh;
    }
}


/*height: 2vh;*/


.pagination button {
    border: none; /* Убираем границу кнопки */
    background-color: #FBD784; /* Цвет фона кнопок */
    color: #000; /* Цвет текста кнопок */
    min-height: 2vh;
    min-width: 5vh;
    padding: 10px 15px; /* Внутренний отступ кнопок */
    margin: 0 5px; /* Маргин между элементами внутри .pagination */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.pagination button:hover {
    background-color: #ecc967; /* Цвет фона кнопок при наведении */
}


/*MODAL*/
#orderModal {
    /* Скрыть модальное окно по умолчанию */
    position: absolute; /* Остаётся на месте */
    z-index: 9999; /* Высокий z-index, чтобы быть над другими элементами */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    overflow: hidden; /* Без прокрутки */
    background-color: rgba(0, 0, 0, 0.5); /* Затемнённый фон */
    display: flex; /* Flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

/* Содержимое/текст модального окна */
.modal-content {
    position: absolute;
    top: 50%; /* Смещаем элемент на 50% сверху */
    left: 50%; /* Смещаем элемент на 50% слева */
    transform: translate(-50%, -50%);
    background-color: #FBD784;
    padding: 5px;
    border: 1px solid #888;
    font-size: clamp(24px, 2.0vw, 48px);
    width: 25vw;
    height: 8vw;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: center; /* Текст по центру */
}
#formModal .modal-content  {
    background-color: white;
}


/* Кнопка закрыть (если используете) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.FooterCatalog {
    margin-top: 100px;
    position: relative;
    height: 10vh;
    bottom:0;
    width:100%;
    background: #283277;
}

/*BASKET*/

.productsBasket {
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 10%;
    min-height: 500px;
}
.basket {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 60px;
}



.basket-empty, .catalog-empty {
    padding: 15px;
    border-radius: 15px;
    height: 2vh;
    width: 20vw;
    position: absolute;
    background: #ffffff;
     /* Абсолютное позиционирование */
    top: 50%; /* Смещаем элемент на 50% сверху */
    left: 50%; /* Смещаем элемент на 50% слева */
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-form-submit {
    margin-top: 5px;
}
.order-list {
    position: relative;
    left: 40%;
    width: 60%;
    margin-top: -125px;
    min-width: 550px;
    /*background-color: rgba(251, 215, 132, 0.9);*/
    list-style-type: none;
    padding: 10px;
    /*border-radius: 5px;*/
}
.order-list .order-products{
    padding: 5px;
    background: white;
    margin-bottom: 5px;
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Центрируем текст по вертикали */
    height: 35px;
    flex-direction: row; /* Элементы в ряд */
    justify-content: flex-start;
    margin-top: 10px;
}
.order-products .item-sel:first-child {
    width: 40%;
    margin-right: 5%;
}
.order-products .item-sel:last-child {
    width: 5%;
    margin-left: 5%;
}
.order-products .item-sel {
    width: 12%;
    margin-right: 5%;
    display: flex; /* Активируем Flexbox */
    flex-direction: row; /* Элементы в ряд */
    justify-content: flex-start;/* Добавляем небольшой отступ справа от каждого элемента */
}
.order-list .item-sel:nth-last-child(2) {
    width: 10%;
    margin-right: 5%;
}
.order-list .item-sel:last-child {
    width: 20%;
    margin-right: 0; /* Удаляем отступ справа у последнего элемента */
}
.order-nav {
    width: 95%;
    /*margin-top: -200px;*/
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center;
    min-width: 400px;
    height: 40px;
    background-color: #FBD784;
    border-radius: 5px;
}
.order-nav ul {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    padding: 5px;
    list-style-type: none;
    display: flex; /* Активируем Flexbox */
    flex-direction: row; /* Элементы в ряд */
    justify-content: flex-start;
}
.order-nav-ul .item:first-child {
    width: 42%;
    margin-right: 5%;
}
.order-nav-ul .item {
    width: 13.5%;
    margin-right: 5%; /* Добавляем небольшой отступ справа от каждого элемента */
}

.order-nav-ul .item:last-child {
    justify-content: center;
    width: 18%;
    margin-right: 0;
}
.send-order {
    margin-top: 5px;
    height: 25px;
}
.contact-form {
    padding: 10px;
    font-weight: 500;
    margin-top: 20px;
    min-width: 200px;
    font-size: 18px;
    line-height: 1.222;
    width: 12%;
    background-color: #FBD784;
    border-radius: 5px;
}

.order-products span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.decrease-key {
    margin-right: 5px;
}
.increase-key {
    margin-left: 5px;
}
.decrease-key, .increase-key {
    border-radius: 5px;
    background-color: #FBD784;
    width: 30%;
    height: 60%;
    /*width: 300px;*/
    /*width: 100%;*/
    /*height: 80%;*/
}
.empty-basket-message {
    margin-top: 50px;
    font-weight: 600;
    font-size: 60px;
    background-color: #FBD784;
    border-radius: 5px;
    padding: 15px;

}

#currentPageBasket {
    margin: 20px 20px; /* Добавляет горизонтальный отступ между номером страницы и кнопками */
    background-color: #FBD784; /* Цвет фона для элемента с текущей страницей */
    padding: 0 10px; /* Внутренний отступ */
    border-radius: 5px; /* Скругление углов */
    font-weight: bold;
    height: 2vh;
    /*font-size: clamp(24px, 2.0vw, 48px);*/
}

@media (max-aspect-ratio: 4/3) {
    .productsBasket {
        height: 70vh;
    }

    .contact-form {
        height: 10vh;
        width: 25%;
    }

    .order-list {
        /*???*/
        margin-top: -200px;
        width: 70%;
        /*margin-left: 10ox; надо подумать как сделать*/
    }
    .contact-form p {
        font-size: clamp(20px, 1.7vw, 48px);
        width: 80%;
        height: 2vh;
    }
    .contact-form-submit {
        /*padding: 20px;*/
        width: 100%;
        height: 100%;
    }
    .contact-form-submit input {
        margin-top: 1.5vh;
        display: flex;
        height: 3vh;
        width: 85%;
        font-size: clamp(16px, 1vw, 48px);
        text-align: center;
        box-sizing: border-box;
        /*margin: 0 auto;*/
    }
    .contact-form .buttons-group {
        margin-top: 0.2vh;
    }
    .contact-form button {
        height: 4vw;
        width: 8.5vw;
        font-size: clamp(16px, 1vw, 48px);
        border-radius: 5px;
    }

    .order-nav {
        height: 4vh;
        display: flex; /* Включаем Flexbox */
        align-items: center; /* Центрируем текст по вертикали */
        justify-content: center;

    }


    .order-nav-ul {
        display: flex; /* Включаем Flexbox */
        align-items: center; /* Центрируем текст по вертикали */
        justify-content: center;
        padding: 5px;
        /*font-size: clamp(16px, 0.8vw, 40px);*/
        font-size: clamp(20px, 1.5vw, 48px);
    }

    #itemsContainer {
        height: 40vh;
    }

    .order-products .item-sel {
        margin-right: 0;

    }

    .article, .number-in-stock  {
        font-size: clamp(16px, 1.0vw, 48px);
    }

    #itemsContainer li {
        height: 7vh;
        display: flex; /* Активируем Flexbox */
        flex-direction: row; /* Элементы в ряд */
        justify-content: flex-start;
    }

    .order-products {
        font-size: clamp(16px, 2vw, 24px);
    }

    .pagination button {
        margin-top: 15px;
        font-size: clamp(24px, 2.0vw, 48px);
    }

    #currentPageBasket {
        margin: 30px 20px; /* Добавляет горизонтальный отступ между номером страницы и кнопками */
        background-color: #FBD784; /* Цвет фона для элемента с текущей страницей */
        padding: 0 10px; /* Внутренний отступ */
        border-radius: 5px; /* Скругление углов */
        font-weight: bold;
        height: 1.65vh;
        font-size: clamp(24px, 2.0vw, 48px);
    }
    .number-in-basket {
        width: 3vw;
        text-align: center;
    }
    .basket-empty, .catalog-empty {
        text-align: center;
        display: flex; /* Включаем Flexbox */
        align-items: center; /* Центрируем текст по вертикали */
        justify-content: center;
        font-size: clamp(24px, 2.0vw, 48px);
    }
    .decrease-key, .increase-key {
        background: #FBD784;
        height: 2vh;
        width: 4vw;
        border-radius: 5px;
        font-size: clamp(24px, 2.0vw, 48px);
    }
}

/*LOADING*/

.loading-spinner {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 9999; /* Высокий z-index, чтобы перекрывать остальные элементы */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

/* Стиль для спиннера */
.loading-spinner .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем спиннер */
    border: 16px solid #f3f3f3; /* Светлый цвет границы */
    border-top: 16px solid #FBD784; /* Цвет верхней части спиннера */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Анимация вращения */
}

/* Ключевые кадры для анимации вращения */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

