<!DOCTYPE html>
<html>
<head>
  <title>Админ панель</title>
</head>
<body>
<h1>Админ панель</h1>

<!-- Список продуктов -->
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Категория</th>
    <th>Артикул</th>
    <th>Цена</th>
    <th>В наличии</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.category}"></td>
    <td th:text="${product.article}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <span class="stock-quantity"  th:text="${product.inStock}"></span>
    </td>
    <td>
      <div class="data-id" style="display: none;" th:text="${product.id}"></div>
      <button onclick="deleteProduct(this)">Удалить</button>
      <button onclick="decreaseStock(this)">-1</button>
      <button onclick="increaseStock(this)">+1</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Форма для добавления нового продукта -->
<h2>Добавить новый продукт</h2>
<form class="admin-form" action="/product/create" method="post" style="width: 70vw; display: flex">
  <input type="text" name="name" placeholder="Название" required />
  <div class="input-group">
    <select id="brand" name="category" required>
      <option value="">Выберите бренд</option>
      <option value="caterpillar">CATERPILLAR</option>
      <option value="cummins">Cummins</option>
      <option value="detroitdiesel">Detroit Diesel</option>
      <option value="fgwilson">FGWilson</option>
      <option value="perkins">Perkins</option>
      <option value="maxiforce">Maxiforce</option>
      <option value="redat">Redat</option>
      <option value="volvopenta">Volvo Penta</option>
      <option value="solidtechnologies">Solid Technologies</option>
      <option value="johndeere">John Deere</option>
      <option value="interstatemcbee">Interstate McBee</option>
    </select>
  </div>
  <input type="text" name="article" placeholder="Артикул" required />
  <input type="number" name="price" placeholder="Цена" required />
  <input type="number" name="inStock" placeholder="Количество на складе" required />
  <input type="submit" value="Добавить в каталог" />
</form>

<script src="/js/admin-editor.js"></script>
</body>
</html>
