<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Корзина</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1.0">
</head>
<body>
<header class="topBar">
    <picture class="logo" src="../img/Logo.png"></picture>
    <h1 class="Number">
        <a href="https://wa.me/+79117202500" class="whatsapp">
            <i class="bi bi-telephone-fill"></i>
            +79117202500
        </a>
    </h1>
</header>
<div class="container">
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/#Block1">Обслуживание</a></li>
                <li><a href="/#Block2">Диагностика и ремонт</a></li>
                <li><a href="/#Block3">Консультации</a></li>
                <li><a th:href="@{/Catalog}">Запчасти</a></li>
            </ul>
        </nav>
    </header>
    <div class="line"></div>
    <div class="productsBasket">
        <div class="basket">Корзина</div>
        <div class="contact-form">
            <form class="contact-form-submit" onsubmit="return serializeAndSendData()">
                <p>Введите вашу почту/телефон:</p>
                <input type="text" name="contactInfo" placeholder="Email или телефон" required>
                <div class="buttons-group">
                    <button class="send-order" type="button" onclick="serializeAndSendData()">Оформить заказ</button>
                    <button class="clear-basket" type="button" onclick="clearBasket()">Очистить корзину</button>
                </div><!-- Clear Basket Button -->
            </form>
        </div>
        <ul class="order-list">
            <div class="order-nav">
                <ul class="order-nav-ul">
                    <li class="item">Название</li>
                    <li class="item">Артикул</li>
                    <li class="item">Цена</li>
                    <li class="item">В корзине</li>
                </ul>
            </div>
            <span id="totalPages" style="display: none;" th:text= "${totalPages}"></span>
            <span id="currentPage" style="display: none;">1</span>
            <div id="itemsContainer">
            </div>

            <!-- Пагинация -->
            <div class="pagination">
                <button id="prevPageBasket">Предыдущая</button>
                <span id="currentPageBasket">1</span>
                <button id="nextPageBasket">Следующая</button>
            </div>
        </ul>
        <div id="loadingSpinner" class="loading-spinner" style="display: none;">
            <div class="spinner"></div>
        </div>

    </div>
    <div id="orderModal" class="modal" style="display:none;">
        <div class="modal-content">
            <p></p>
        </div>
    </div>
</div>
<div class="FooterBid"></div>
<script src="/js/buttons-basket.js"></script>
</body>
</html>
