<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1.0">
</head>
<body>
<header class = "topBar">
    <picture class ="logo"> </picture>
    <h1 class="Number">
        <a href="https://wa.me/+79110272500" class="whatsapp">
            <i class="bi bi-telephone-fill"></i>
            +79110272500
        </a>
    </h1>
</header>
<div class="container">
    <header class="navbar">
        <nav>
            <ul>
                <li><a th:href="@{/#Block1}">Обслуживание</a></li>
                <li><a th:href="@{/#Block2}">Диагностика и ремонт</a></li>
                <li><a th:href="@{/#Block3}">Консультации</a></li>
                <li><a th:href="@{/Catalog}">Запчасти</a></li><!--                    <i class="bi bi-cart-fill"></i>-->
                <li><a th:href="@{/Basket}" class="bi bi-cart-fill icon-large" id= "Busket" ></a></li>
            </ul>
        </nav>
    </header>
    <div class="line"></div>
    <div class = "mainBlogBid">
        <form class="SendForm" action="#" method="post">
            <div>Оформление заявки</div>

            <input type="text" placeholder="Введите ваше имя" name="name" id="name"/>
            <div class="error" id="nameError"></div>
            <br/>

            <input type="text" placeholder="Введите номер двигателя" name="motorNumber" id="motorNumber"/>
            <div class="error" id="motorNumberError"></div>
            <br/>

            <input type="text" placeholder="Введите номер телефона" name="phoneNumber" id="phoneNumber"/>
            <div class="error" id="phoneNumberError"></div>
            <br/>

            <input type="email" placeholder="Введите вашу почту" name="email" id="email"/>
            <div class="error" id="emailError"></div>
            <br/>

            <textarea placeholder="Опишите проблему" name="description" id="description"></textarea>
            <div class="error" id="descriptionError"></div>
            <br/>

            <button type="submit">Отправить заявку</button>
        </form>

    </div>
    <div id="loadingSpinner" class="loading-spinner" style="display: none;">
        <div class="spinner"></div>
    </div>

    <div id="formModal" class="modal" style="display:none;">
        <div class="modal-content">
            <!-- Убираем кнопку закрытия, если не хотите позволять пользователю закрыть окно самостоятельно -->
            <!-- <span class="close" onclick="closeModal()">&times;</span> -->
            <p></p>
        </div>
    </div>
</div>
<div class="FooterBid">
</div>
<script src="/js/sendForm.js"></script>
</body>
</html>
<!DOCTYPE html>