<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


</head>
<body>
<header class = "topBar">
    <picture class ="logo" src="../img/Logo.png"> </picture>
    <h1 class="Number">+79819823125</h1>
    <i class="bi bi-telephone-fill"></i> <!-- Заполненная иконка телефона -->
    <!-- Заполненная иконка корзины -->
</header>
<div class="container">
    <header class="navbar">
        <nav>
            <ul>
                <li><a th:href="@{/#Block1}">Диагностика и ремонт</a></li>
                <li><a th:href="@{/#Block2}">Запчасти</a></li>
                <li><a th:href="@{/#Block3}">Консультации</a></li>
                <li><a th:href="@{/#Block4}" >Обслуживание</a></li><!--                    <i class="bi bi-cart-fill"></i>-->
                <li><i class="bi bi-cart-fill icon-large"></i></li>
            </ul>
        </nav>
    </header>
    <div class="line"></div>
    <div class = "catalog">
        <ul>
            <ul>
                <li th:each="item : ${items}">
                    <span th:text="${item.name}">Item Name:</span>
                    <!-- Обратите внимание на data-product-id и удаление атрибута action -->
                    <button type="button" class="add-to-cart-btn" th:data-product-id="${item.id}">Добавить в корзину</button>
                </li>
            </ul>
<!--            <li th:each="item : ${items}">-->
<!--                <span th:text="${item.name}">Item Name:</span>-->
<!--                <form th:action="@{/add-to-basket}" method="post">-->
<!--                    &lt;!&ndash;                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <input type="hidden" th:name="productId" th:value="${item.id}" />&ndash;&gt;-->
<!--                    <button type="submit">Добавить в корзину</button>-->
<!--                </form>-->
<!--            </li>-->
        </ul>
<!--        <ul>-->
<!--            <li th:each="item : ${items}">-->
<!--                <span th:text="${item.name}">Item Name:</span>-->
<!--                <button th:action=""></button>-->
<!--            </li>-->
<!--        </ul>-->
    </div>

</div>
<div class="FooterBid">
</div>
</body>
<script src="/js/AJAX.js"></script>
</html>
<!DOCTYPE html>