<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>


    <!-- Подключите CSS Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


</head>
<body>
<header class = "topBar">
    <picture class ="logo" src="../img/Logo.png"> </picture>
    <h1 class="Number">
        <a href="https://wa.me/+79117202500" class="whatsapp">
            <i class="bi bi-telephone-fill"></i>
            +79117202500
        </a>
    </h1>
</header>
    <div class="container">
        <header class="navbar">
            <nav>
                <ul>
                    <li><a href="#Block1">Обслуживание</a></li>
                    <li><a href="#Block2">Диагностика и ремонт</a></li>
                    <li><a href="#Block3">Консультации</a></li>
                    <li><a href="#Block4">Запчасти</a></li>
                    <li><a th:href="@{/Basket}" class="bi bi-cart-fill icon-large" id= "Busket" ></a></li>
                </ul>
            </nav>
        </header>
        <div class="line"></div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/Diesel.JPG'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
                            <h1 class = "sub-title">О нас</h1>
                            <div class = "description">ООО «Моторсервис» предоставляет полный спектр услуг по ремонту промышленных дизельных и газовых двигателей.</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/connection.jpg'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
                            <h1 class = "sub-title">Преимущества сотрудничества с нами</h1>
                            <div class = "description">
                                <ul>
                                    <li>Профессиональные специалисты с опытом работы;</li>
                                    <li>Современное оборудование и инструменты;</li>
                                    <li>Гарантия качества выполненных работ;</li>
                                    <li>Индивидуальный подход к каждому клиенту.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/RemKotlas.JPG'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
                            <h1 class = "sub-title">Наши ремзоны</h1>
                            <div class = "description">ООО «Моторсервис» предоставляет полный спектр услуг в Санкт-Петербурге и Котласе</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Если нужны стрелки навигации -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Если нужна пагинация -->
            <div class="swiper-pagination"></div>
        </div>
        <main class = "main">
            <div class="container">
                <div class="content" id="Block1">
                    <div class="content-text"  data-number="01" >
                        <div class="content-subtitle">Качество</div>
                        <div class="content-title">Обслуживание</div>
                        <p>Если вы хотите провести разовое техническое обслуживание вашей техники,
                            мы готовы выполнить эту задачу быстро и качественно. Мы проверим все основные
                            узлы и компоненты, проведём необходимые регулировки и замены, а также дадим
                            рекомендации по дальнейшему обслуживанию.</p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/first.JPG" alt="обслуживание">
                    </div>
                </div>
                <div class="content" id="Block2">
                    <div class="content-text"  data-number="02" >
                        <div class="content-subtitle">Надежность</div>
                        <div class="content-title">Диагностика и ремонт</div>
                        <p>После проведения диагностики ни одна потенциальная проблема не останется без внимания.
                            Мы тщательно проверим все ключевые системы и функции электростанции, чтобы выявить возможные
                            неисправности и заранее составить план работ по их устранению.</p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/second.JPG" alt="обслуживание">
                    </div>
                </div>
                <div class="content"  id="Block3">
                    <div class="content-text"  data-number="03">
                        <div class="content-subtitle">Высокий профессионализм</div>
                        <div class="content-title">Консультации</div>
                        <p>Наши специалисты всегда готовы помочь вам с любыми вопросами о
                            неисправностях техники или подборе запчастей. Вы можете обратиться
                            к нам по телефону или лично в офисе. Мы всегда на связи и готовы оказать
                            помощь в любое время</p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/third.jpeg" alt="обслуживание">
                    </div>
                </div>
                <div class="content" id="Block4">
                    <div class="content-text"  data-number="04" >
                        <div class="content-subtitle">Гарантии</div>
                        <div class="content-title">Каталог</div>
                        <p>Мы предлагаем только европейские и американские запчасти для двигателей, поскольку заботимся о долговечности вашей техники.
                            Все поставляемые нами детали проходят строгий контроль качества и имеют гарантию 1 год.
                            Мы ценим ваше время и стараемся сделать процесс заказа максимально удобным.
                        </p>
<!--                        <div class="content-application" th:href="@{/Catalog}">Перейти в каталог</div>-->
                        <a class="content-application" th:href="@{/Catalog}">Перейти в каталог</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/Diesel.JPG" alt="обслуживание">
                    </div>
                </div>
            </div>
            <div class="brands">Мы работаем с брендами
                <ul>
                    <li><img src="../img/brands/CAT.png" alt="CAT"></li>
                    <li><img src="../img/brands/PERKINS.png" alt="PERKINS"></li>
                    <li><img src="../img/brands/cummins.svg.png" alt="cummins"></li>
                    <li><img src="../img/brands/detroitDiesel.png" alt="detroitDiesel"></li>
                    <li><img src="../img/brands/fGWilson.png" alt="fGWilson"></li>
                    <li><img src="../img/brands/maxiforce.png" alt="maxiforce"></li>
                    <li><img src="../img/brands/redat.png" alt="redat"></li>
                    <li><img src="../img/brands/volvoPenta.png" alt="volvoPenta"></li>
                </ul>
            </div>
        </main>
    </div>
    <div class="Footer"></div>

<script>
    AOS.init();
</script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/Slider.js"></script>
</body>
</html>
<!DOCTYPE html>