<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1.0">

    <!-- Подключите CSS Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


</head>
<body>
<header class = "topBar">
    <picture class="logo">
    </picture>
    <h1 class="Number">
        <a href="https://wa.me/+79110272500" class="whatsapp">
            <i class="bi bi-telephone-fill"></i>
            +79110272500
        </a>
    </h1>
</header>
    <div class="container">
        <header class="navbar">
            <nav>
                <ul>
                    <li><a href="#Block1">Обслуживание</a></li>
                    <li><a href="#Block2">Диагностика и ремонт</a></li>
                    <li><a href="#Block3">Консультации</a></li>
                    <li><a th:href="@{/Catalog}">Запчасти</a></li>
                    <li><a th:href="@{/Basket}" class="bi bi-cart-fill icon-large" id= "Busket" ></a></li>
                </ul>
            </nav>
        </header>
        <div class="line"></div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/Diesel.JPG'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
                            <h1 class = "sub-title">О нас</h1>
                            <div class="lineBetween"  id = "line0"></div>
                            <div class = "description">ООО «Моторсервис» предоставляет полный спектр услуг по ремонту промышленных дизельных и газовых двигателей.</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/connection.jpg'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
<!--                            <h1 class = "sub-title">Преимущества сотрудничества с нами</h1>-->
                            <h1 class = "sub-title">Наши преимущества</h1>
                            <div class="lineBetween"  id = "line1"></div>
                            <div class = "description">
                                <ul>
                                    <li>Профессиональные специалисты с опытом работы</li>
                                    <li>Современное оборудование и инструменты</li>
                                    <li>Гарантия качества выполненных работ</li>
                                    <li>Индивидуальный подход к каждому клиенту</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" >
                    <img class="carousel-img" src = '../img/RemKotlas.JPG'>
                    <div class="carousel-item-content">
                        <div class="carousel-text">
                            <h1 class = "sub-title">Наши ремзоны</h1>
                            <div class="lineBetween" id = "line2"></div>
                            <div class = "description">ООО «Моторсервис» предоставляет полный спектр услуг в Санкт-Петербурге</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Если нужны стрелки навигации -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Если нужна пагинация -->
            <div class="swiper-pagination"></div>
        </div>
        <main class = "main">
            <div class="container">
                <div class="content" id="Block1">
                    <div class="content-text"  data-number="01" >
                        <div class="content-subtitle">Качество</div>
                        <div class="content-title">Диагностика</div>
                        <p>После проведения диагностики ни одна потенциальная проблема не останется без внимания.
                            Мы тщательно проверим все ключевые системы и функции вашей техники,
                            чтобы выявить возможные неисправности и заранее составить план работ по их устранению.
                        </p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/first.JPG" alt="Диагностика">
                    </div>
                </div>
                <div class="content" id="Block2">
                    <div class="content-text"  data-number="02" >
                        <div class="content-subtitle">Надежность</div>
                        <div class="content-title">Ремонт дизельных двигателей</div>
                        <p>Мы предоставляем широкий спектр услуг по осуществлению сервисного обслуживания дизельных двигателей,
                            в том числе капитальный, аварийных или плановых ремонтов.
                            Штат компании состоит из высококвалифицированного персонала.
                        </p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/second.JPG" alt="Ремонт дизельных двигателей">
                    </div>
                </div>
                <div class="content"  id="Block3">
                    <div class="content-text"  data-number="03">
                        <div class="content-subtitle">Высокий профессионализм</div>
                        <div class="content-title">Ремонт форсунок</div>
                        <p>Ремонт дизельных форсунок – это процедура,
                            к которой приходится прибегать по мере их естественного эксплуатационного износа.
                            Восстановительный ремонт данной комплектующей является достаточно популярной
                            и распространенной проблемой двигателей на дизельном топливе.
                        </p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                    </div>
                    <div class="content-img">
                        <img src="../img/third.jpeg" alt="Ремонт форсунок">
                    </div>
                </div>
                <div class="content" id="Block4">
                    <div class="content-text"  data-number="04" >
                        <div class="content-subtitle">Гарантии</div>
                        <div class="content-title">Ремонт ТНВД</div>
                        <p>Проверка и ремонт ТНВД проводятся на специальном стенде. Своевременная диагностика,
                            а также обращение к специалистам сразу при появлении первых отклонений от нормального
                            режима работы позволит с минимальными затратами вернуть насосу работоспособность.
                        </p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
<!--                        <div class="content-application" th:href="@{/Catalog}">Перейти в каталог</div>-->
<!--                        <a class="content-application" th:href="@{/Catalog}">Перейти в каталог</a>-->
                    </div>
                    <div class="content-img">
                        <img src="../img/TNVD.jpeg" alt="Ремонт ТНВД">
                    </div>
                </div>
                <div class="content" id="Block5">
                    <div class="content-text"  data-number="05" >
                        <div class="content-subtitle">Гарантии</div>
                        <div class="content-title">Ремонт турбин</div>
                        <p> Восстанавливаем работоспособность механических,
                            электрических и классических турбин-нагнетателей
                        </p>
                        <a class="content-application" th:href="@{/Bid}">Оставить заявку</a>
                        <!--                        <div class="content-application" th:href="@{/Catalog}">Перейти в каталог</div>-->
                        <!--                        <a class="content-application" th:href="@{/Catalog}">Перейти в каталог</a>-->
                    </div>
                    <div class="content-img">
                        <img src="../img/Diesel.JPG" alt="Ремонт турбин">
                    </div>
                </div>
                <div class="content" id="Block6">
                    <div class="content-text"  data-number="06" >
                        <div class="content-subtitle">Каталог</div>
                        <div class="content-title">Магазин</div>
                        <p>Адрес г. Санкт-Петербург, переулок Транспортный, д. 1, лит.А, пом. 404
                        </p>
                        <!--                        <div class="content-application" th:href="@{/Catalog}">Перейти в каталог</div>-->
                        <!--                        <a class="content-application" th:href="@{/Catalog}">Перейти в каталог</a>-->
                    </div>
                    <div class="content-img">
                        <img src="../img/connection.jpg" alt="Магазин">
                    </div>
                </div>
            </div>
            <div class="brands">Мы работаем с брендами
                <ul>
                    <li><img src="../img/brands/CAT.png" alt="CAT"></li>
                    <li><img src="../img/brands/PERKINS.png" alt="PERKINS"></li>
                    <li><img src="../img/brands/cummins.svg.png" alt="cummins"></li>
                    <li><img src="../img/brands/detroitDiesel.png" alt="detroitDiesel"></li>
                    <li><img src="../img/brands/fGWilson.png" alt="fGWilson"></li>
                    <li><img src="../img/brands/maxiforce.png" alt="maxiforce"></li>
                    <li><img src="../img/brands/redat.png" alt="redat"></li>
                    <li><img src="../img/brands/volvoPenta.png" alt="volvoPenta"></li>
                    <li><img src="../img/brands/solidTechnologies.png" alt="solidTechnologies"></li>
                    <li><img src="../img/brands/johnDeere.png" alt="johnDeere"></li>
                    <li><img src="../img/brands/interstateMcBee.png" alt="interstateMcBee"></li>
                </ul>
            </div>
        </main>
    </div>

    <div class="Footer">
        <div class="footer-container">
            <h2>Контакты</h2>
            <div class="container-contact-list">
                <ul class="contact-list">
                    <li>
                        <i class="bi bi-envelope-fill" id="mail"></i>
                        <a href="mailto:spb.motorservice@yandex.ru">spb.motorservice@yandex.ru</a>
                    </li>
                    <li class="phone-item">
                        <i class="bi bi-telephone-fill"></i>
                        <div class="phone-numbers">
                            <div class="main-phone">
                                <a href="tel:+79110272500">+7 911 027-25-00</a>
                            </div>
                            <div class="yellow-line"></div>
                            <div class="second-phone-number">
                                <a href="tel:+79117202500">+7 911 720-25-00</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script>
    AOS.init();
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/Slider.js"></script>
</body>
</html>
<!DOCTYPE html>