

<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" id="productDetails">
<head>
    <title th:text="${title}">О товаре</title>
    <link rel="icon" href="../img/Logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/css/detailProduct.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Подключение CSS Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Подключение скриптов -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
</head>
<body id="bodyCatalog">
<head>
    <title>Корзина</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/Logo.png" type="image/x-icon" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="topBar">
    <!-- Logo -->
    <div class="logo-container">
        <img src="../img/Logo.png" alt="Motor Service Logo" class="logo">
    </div>

    <!-- Information -->
    <div class="info-container">
        <p class="slogan">С заботой о вашем двигателе</p>
        <p class="contact-details">
            <a href="tel:+79110272500">+7 (911) 027-25-00</a><br>
            <a href="tel:+79117202500">+7 (911) 720-25-00</a><br>
            <a href="mailto:spb.motorservice@yandex.ru">spb.motorservice@yandex.ru</a><br>
            <span class="nationwide">Работаем по всей России</span>
        </p>
    </div>
</header>
</body>

<!--<header class="topBar">-->
<!--    <picture class="logo"></picture>-->
<!--    <h1 class="Number">-->
<!--        <a href="https://wa.me/+79110272500" class="whatsapp">-->
<!--            <i class="bi bi-telephone-fill"></i>-->
<!--            +79110272500-->
<!--        </a>-->
<!--    </h1>-->
<!--</header>-->
<div class="container2">
    <header class="navbar">
        <nav>
            <ul>
                <li><a th:href="@{/#Block1}">Обслуживание</a></li>
                <li><a th:href="@{/#Block2}">Диагностика и ремонт</a></li>
                <li><a th:href="@{/#Block3}">Консультации</a></li>
                <li><a th:href="@{/Catalog}">Запчасти</a></li>
                <li><a th:href="@{/Basket}" class="bi bi-cart-fill icon-large" id="Busket"></a></li>
            </ul>
        </nav>
    </header>
    <div class="line"></div>
    <div class="container">

    <!-- Блок деталей продукта -->
    <div id="productDetail" class="product-detail">
        <!-- Слайдер изображений -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
            </div>
            <!-- Кнопки навигации -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- Пагинация -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-info-outside">
            <h2 class="product-name">Название товара</h2>
            <div class="help-line-before"></div>
            <div class="product-info">
                <div class="info-left">
                    <div class="product-price">Цена: 9999 р</div>
                    <div class="product-availability">В наличии: 10 шт.</div>
                    <p class="product-category">Категория: Электроника</p>
                    <p class="product-article">Артикул: 123456</p>
                </div>
                <div class="info-right">
                    <p class="product-description">
                        Описание товара... Это краткое описание продукта, содержащее до 60 слов, которое даёт покупателю представление о его основных характеристиках и преимуществах.
                    </p>
                </div>
            </div>
            <div class="help-line-after"></div>
            <button class="add-to-cart-btn1">Добавить в корзину</button>
        </div>
        <!-- Модальное окно для просмотра изображения -->
        <div id="imageModal" class="modal" style="display: none">
            <span class="close-modal">&times;</span>
            <img class="modal-content" id="modalImage">
            <div id="caption"></div>
        </div>


    </div>
    <div id="productId" style="display: none;" th:text="${product.id}"></div>
</div>
</div>
<div class="Footer">
    <div class="footer-container">
        <h2>Контакты</h2>
        <div class="container-contact-list">
            <ul class="contact-list">
                <li>
                    <i class="bi bi-envelope-fill" id="mail"></i>
                    <a href="mailto:spb.motorservice@yandex.ru">spb.motorservice@yandex.ru</a>
                </li>
                <li class="phone-item">
                    <i class="bi bi-telephone-fill"></i>
                    <div class="phone-numbers">
                        <div class="main-phone">
                            <a href="tel:+79110272500">+7 911 027-25-00</a>
                        </div>
                        <div class="yellow-line"></div>
                        <div class="second-phone-number">
                            <a href="tel:+79117202500">+7 911 720-25-00</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Подключение JS Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Подключение внешнего JS файла -->
<script src="/js/photosDetails.js"></script>
</body>
</html>

